---
import { Image } from "@astrojs/image/components";
import TestimonialSlider from "@components/TestimonialSlider";
import { markdownify } from "@lib/utils/textConverter";
const { testimonial } = Astro.props;
const { title, subtitle, description, left_thumbnail, right_thumbnail, list } =
  testimonial;
---

<section class="section testimonials pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <p
            set:html={markdownify(subtitle)}
            class="mb-4 text-[0.9rem] uppercase"
          />
          <h2 set:html={markdownify(title)} class="title" />
          <p
            set:html={markdownify(description)}
            class="text-[.9rem] text-text"
          />
        </div>
      </div>
    </div>
    <div class="row items-center justify-center">
      <div
        class="hidden md:col-3 xl:col-4 lg:block"
        data-aos="fade-up"
        data-aos-delay="50"
      >
        <Image
          src={left_thumbnail}
          height={553}
          width={445}
          class="max-w-full"
          alt={title}
        />
      </div>
      <div class="sm:col-10 md:col-8 lg:col-5 xl:col-4" data-aos="fade-up">
        <div class="relative z-30 overflow-hidden">
          <TestimonialSlider list={list} client:load />
          <svg
            class="absolute left-1/2 top-0 -z-10 h-full w-auto -translate-x-1/2 text-primary sm:left-0 sm:h-auto sm:w-full sm:translate-x-0"
            viewBox="0 0 462 458"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M36.9901 53.2939C8.66553 90.8729-.680565 197.569.0380893 247.72 3.02596 456.228 136.937 460.573 283.124 457.125 406.681 454.211 459.969 401.82 461.426 261.777 462.591 149.742 432.9 78.8779 413.134 60.3019 326.242-21.359 89.5954-16.4987 36.9901 53.2939z"
              fill="currentcolor"></path></svg
          >
        </div>
      </div>
      <div
        class="hidden md:col-3 xl:col-4 lg:block"
        data-aos="fade-up"
        data-aos-delay="150"
      >
        <Image
          src={right_thumbnail}
          height={553}
          width={445}
          class="max-w-full"
          alt={title}
        />
      </div>
    </div>
  </div>
</section>
