---
import Typewriter from "typewriter-effect";
import Testimonial from "@components/testimonial.astro";
import Layout from "../layouts/base.astro";
import Header from "../layouts/header.astro";
import "../styles/homepage.css";
import Counter from "@components/counter.svelte";
interface Show {
  name: string;
  id: string;
  episodes_aggregate: {
    aggregate: {
      count: number;
    };
  };
}
interface Company {
  name: string;
  id: string;
  image: string;
  url: string;
}
const response = await fetch("https://api.rawkode.academy/v1/graphql", {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
        query MyQuery {
          getShows {
            id
            name
            episodes_aggregate {
              aggregate {
                count
              }
            }
          }
        }
        `,
  }),
});
const json = await response.json();
const shows = json.data ? json.data.getShows : [];
const companies = [
  {
    id: "armo",
    name: "Armo",
    image: "armo-logo.svg",
    url: "",
  },
  {
    id: "equinix-metal",
    name: "Equinix Metal",
    image: "equinix-metal-logo.svg",
    url: "",
  },
  {
    id: "fermyon",
    name: "Fermyon",
    image: "fermyon-logo.png",
    url: "",
  },
  {
    id: "komodor",
    name: "Komodor",
    image: "komodor-logo.png",
    url: "",
  },
  {
    id: "teleport",
    name: "Teleport",
    image: "teleport-logo.svg",
    url: "",
  },
];
---

<Layout title="Rawkode Academy - The Cloud Native Education Platform">
  <div class="background">
    <Header style="alternative" />
    <section class="section--hero">
      <h1>
        Helping<br />
        <Typewriter
          client:load
          options={{
            strings: [
              "Developers",
              "Platform Engineers",
              "Infrastructure Operators",
            ],
            autoStart: true,
            loop: true,
          }}
        />
        Level Up with Kubernetes.
      </h1>

      <p>
        From one-off projects to in-person training, Rawkode Academy can help
        harness and enhance your company's technology infrastructure.
      </p>
      <a href="/work-together">Let's work together</a>
    </section>
  </div>
  <section class="section--shows">
    <h2>Shows</h2>
    <p>
      New shows every week with the latest tips, tricks and deep dives into all
      things Cloud Native, Kubernetes, DevOps and so much more.
    </p>
    <div class="shows__container">
      {
        shows.map((show: Show) => (
          <a href={`/shows/${show.id}`} class="shows__card">
            <div class="card__image">
              <img src="/academy-logo-circular.svg" height="128" width="128" />
            </div>
            <div class="card__copy">
              <p class="card__heading">
                <strong>{show.name}</strong>
              </p>
              <p class="card__sub-heading">
                {show.episodes_aggregate.aggregate.count} episode
                {show.episodes_aggregate.aggregate.count === 1 ? "" : "s"}
              </p>
              <p class="card__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                maximus risus ac justo imperdiet, sed pretium neque maximus.
              </p>
            </div>
          </a>
        ))
      }
    </div>
  </section>
  <section class="section--counters">
    <Counter client:load />
  </section>
  <section class="section--endorsements">
    <h2>Partners</h2>
    <p>
      These companies have had first-hand expertise delivered to them by Rawkode
      Academy.
    </p>
    <div class="companies__container">
      {
        companies.map((company: Company) => (
          <a href={company.url} class="company__card">
            <img
              src={`/${company.image}`}
              alt={company.name}
              height="100%"
              width="100%"
            />
            <p class="sr-only">{company.name}</p>
          </a>
        ))
      }
    </div>
  </section>
  <section class="section--testimonials">
    <div class="testimonials__container">
      <Testimonial />
    </div>
  </section>
  <section class="section--technologies">
    <h2>Technologies</h2>
    <p>A list of the technologies that we use and can train.</p>
    <div class="technologies__container">
      <div>
        <img
          src="/kubernetes-icon.svg"
          height="100"
          width="100"
          alt="Kubernetes"
        />
        <p>Kubernetes</p>
      </div>
      <div>
        <img src="/docker-icon.svg" height="100" width="100" alt="Docker" />
        <p>Docker</p>
      </div>
      <div>
        <img src="/dagger-icon.svg" height="100" width="100" alt="Dagger" />
        <p>Dagger</p>
      </div>
      <div>
        <img src="/rust-icon.svg" height="100" width="100" alt="Rust" />
        <p>Rust</p>
      </div>
      <div>
        <img src="/elixir-icon.svg" height="100" width="100" alt="Elixir" />
        <p>Elixir</p>
      </div>
      <div>
        <img src="/argo-icon.svg" height="100" width="100" alt="ArgoCD" />
        <p>ArgoCD</p>
      </div>
      <div>
        <img src="/fluentd-icon.svg" height="100" width="100" alt="Fluentd" />
        <p>Fluentd</p>
      </div>
      <div>
        <img
          src="/opa-icon.svg"
          height="100"
          width="100"
          alt="Open Policy Agent"
        />
        <p>Open Policy Agent</p>
      </div>
      <div>
        <img src="/envoy-icon.svg" height="100" width="100" alt="Envoy" />
        <p>Envoy</p>
      </div>
      <div>
        <img src="/flux-icon.svg" height="100" width="100" alt="Flux" />
        <p>Flux</p>
      </div>
      <div>
        <img src="/cortex-icon.svg" height="100" width="100" alt="Cortex" />
        <p>Cortex</p>
      </div>
      <div>
        <img src="/contour-icon.svg" height="100" width="100" alt="Contour" />
        <p>Contour</p>
      </div>
      <div>
        <img src="/kubscape-icon.svg" height="100" width="100" alt="Kubscape" />
        <p>Kubscape</p>
      </div>
      <div>
        <img
          src="/webassembly-icon.svg"
          height="100"
          width="100"
          alt="WebAssembly"
        />
        <p>WebAssembly</p>
      </div>
      <div>
        <img
          src="/telepresence-icon.svg"
          height="100"
          width="100"
          alt="Telepresence"
        />
        <p>Telepresence</p>
      </div>
      <div>
        <img src="/teleport-icon.svg" height="100" width="100" alt="Teleport" />
        <p>Teleport</p>
      </div>
      <div>
        <img src="/linkerd-icon.svg" height="100" width="100" alt="Linkerd" />
        <p>Linkerd</p>
      </div>
      <div>
        <img src="/pulumi-icon.svg" height="100" width="100" alt="Pulumi" />
        <p>Pulumi</p>
      </div>
      <div>
        <img
          src="/prometheus-icon.svg"
          height="100"
          width="100"
          alt="Prometheus"
        />
        <p>Prometheus</p>
      </div>
      <div>
        <img src="/influxdb-icon.png" height="100" width="100" alt="Influxdb" />
        <p>InfluxDB</p>
      </div>
      <div>
        <img src="/velero-icon.png" height="100" width="100" alt="Velero" />
        <p>Velero</p>
      </div>
      <div>
        <img src="/cilium-icon.png" height="100" width="100" alt="Cilium" />
        <p>Cilium</p>
      </div>
      <div>
        <img src="/loki-icon.png" height="100" width="100" alt="Grafana Loki" />
        <p>Loki</p>
      </div>
      <div>
        <img src="/thanos-icon.png" height="100" width="100" alt="Thanos" />
        <p>Thanos</p>
      </div>
      <div>
        <img src="/spin-icon.png" height="100" width="100" alt="Fermyon Spin" />
        <p>Spin</p>
      </div>
    </div>
  </section>
  <section class="section--work-together">
    <div>
      <h2>Lets work together</h2>
      <p>
        With an insatiable love for technology, we are always on the hunt to
        learn and share knowledge with others in fun and exciting ways.
      </p>
      <a href="/work-together">Get in touch</a>
    </div>
    <img src="/rawkode-hero.png" width="380" height="500" />
  </section>
</Layout>
