---
import { Image } from "astro:assets";
import { type CollectionEntry, getEntries } from "astro:content";
import AuthorAvatarGroup from "../common/AuthorAvatarGroup.astro";
import BaseCard from "../common/BaseCard.vue";
import FormattedDate from "../common/FormattedDate.vue";

type Props = {
	article: CollectionEntry<"articles">;
};

const { article } = Astro.props;
const authors = await getEntries(article.data.authors);
---

<BaseCard href={`/read/${article.id}`}>
	<Fragment slot="cover">
		<div class="absolute inset-0 bg-linear-to-tr from-purple-600/30 to-indigo-600/30 mix-blend-multiply z-10"></div>
		{
			article.data.cover ? (
				<Image
					class="w-full h-52 object-cover"
					src={article.data.cover.image}
					alt={article.data.cover.alt}
				/>
			) : (
				<img
					class="w-full h-52 object-cover"
					src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/blog/office-laptops.png"
					alt="office laptop working"
				/>
			)
		}
	</Fragment>
	<Fragment slot="badge">
		<span class="bg-purple-100 text-purple-800 text-xs font-semibold px-2.5 py-1 rounded-full dark:bg-purple-200 dark:text-purple-900 backdrop-blur-sm shadow-md">
			Article
		</span>
	</Fragment>
	<Fragment slot="content">
		<h2 class="mb-3 text-xl font-bold tracking-tight text-gray-900 dark:text-white line-clamp-2">
			{article.data.title}
		</h2>
		{article.data.openGraph.subtitle && (
			<p class="mb-4 font-light text-gray-500 dark:text-gray-400 line-clamp-3">
				{article.data.openGraph.subtitle}
			</p>
		)}
	</Fragment>
	<Fragment slot="footer">
		<div class="flex items-center justify-between">
			<AuthorAvatarGroup authors={authors} />
			<FormattedDate date={article.data.publishedAt} showIcon={true} />
		</div>
	</Fragment>
</BaseCard>