---
import Layout from '../../layouts/page.astro';
import EpisodeList from "@components/episode-list.svelte";
import "../../styles/dynamic-show.css";

const { key } = Astro.params;

interface Show {
  name: string;
  id: string;
  episodes_aggregate: {
    aggregate: {
      count: number;
    }
  };
}
const response = await fetch("https://api.rawkode.academy/v1/graphql",
  {
    method: 'POST',
    headers: {'Content-Type':'application/json'},
    body: JSON.stringify({
      query: `
        query MyQuery {
          getShow(id: "${key}") {
            id
            name
            episodes_aggregate {
              aggregate {
                count
              }
            }
            episodes  {
              youtube_id
              title
              links
              guests {
                name
              }
            }
          }
        }
        `
    }),
  });
const json = await response.json();
const show = json.data ? json.data.getShow : null;
if (!show) return Astro.redirect("/404");
const breadcrumbs = [{
  title: 'Shows',
  href: '/shows'
}]

const episodeCount = show.episodes_aggregate.aggregate.count
const latest = show.episodes[episodeCount - 1]
---
<Layout
  title={`${show.name} | Shows | Rawkode Academy`}
  breadcrumbs={breadcrumbs}
>
  <div class="show__page">
    <div class="show__container">
      <div class="show__heading">
        <a href="/shows"><img src="/chevron-left.svg" alt="chevron left" height="24" width="24" />Back to Shows</a>
        <h1>{show.name}</h1>
        <p>{episodeCount} episode{episodeCount === 1 ? '' : 's'}</p>
        <p class="show__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus risus ac justo imperdiet, sed pretium neque maximus.</p>
      </div>
      <div class="show__video">
        <img src={`https://img.youtube.com/vi/${latest.youtube_id}/maxresdefault.jpg`} alt={latest.title} />
        <!-- <iframe width="100%" height="100%" src={`https://www.youtube.com/embed/${latest.youtube_id}?&autoplay=1&mute=1&playsinline=1`} title="YouTube video player" frameborder="0" allowfullscreen></iframe> -->
      </div>
    </div>
    <div class="show__container">
      <h2>Episodes</h2>
      <div class="show__episode-list">
        <EpisodeList list={show.episodes} client:load />
      </div>
    </div>
  </div>
</Layout>
