---
import Logo from "@components/Logo.astro";
import menu from "@config/menu.json";
export interface ChildNavigationLink {
  name: string;
  url: string;
}
export interface NavigationLink {
  name: string;
  url: string;
  hasChildren?: boolean;
  children?: ChildNavigationLink[];
}
const { pathname } = Astro.url;

const { main }: { main: NavigationLink[] } = menu;
---

<header class="header" id="header">
  <nav class="navbar container">
    <!-- logo -->
    <div class="order-0">
      <Logo />
    </div>
    <!-- navbar toggler -->
    <input id="nav-toggle" type="checkbox" class="hidden" />
    <label
      id="show-button"
      for="nav-toggle"
      class="order-2 flex cursor-pointer items-center lg:order-1 lg:hidden"
    >
      <svg class="h-6 fill-current" viewBox="0 0 20 20">
        <title>Menu Open</title>
        <path d="M0 3h20v2H0V3z m0 6h20v2H0V9z m0 6h20v2H0V0z"></path>
      </svg>
    </label>
    <label
      id="hide-button"
      for="nav-toggle"
      class="order-2 hidden cursor-pointer items-center lg:order-1"
    >
      <svg class="h-6 fill-current" viewBox="0 0 20 20">
        <title>Menu Close</title>
        <polygon
          points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2"
          transform="rotate(45 10 10)"></polygon>
      </svg>
    </label>
    <!-- /navbar toggler -->

    <ul
      id="nav-menu"
      class="navbar-nav order-3 hidden w-full flex-col pt-10 text-center lg:order-1 lg:flex lg:w-auto lg:flex-row lg:space-x-2 lg:pt-0 lg:text-left"
    >
      {
        main.map((menu) => (
          <>
            {menu.hasChildren ? (
              <li
                class="nav-item nav-dropdown group relative cursor-pointer "
                id="dropdown-button"
              >
                <span
                  class={`nav-link inline-flex items-center lg:px-[0.625rem] lg:py-[0.9rem] xl:px-[1.06rem] ${
                    menu.children?.map(({ url }) => url).includes(pathname) ||
                    menu.children
                      ?.map(({ url }) => `${url}/`)
                      .includes(pathname)
                      ? "active"
                      : ""
                  }`}
                >
                  {menu.name}
                  <svg class="h-4 w-4 fill-current" viewBox="0 0 20 20">
                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                  </svg>
                </span>
                <ul
                  id="dropdown"
                  class="nav-dropdown-list hidden duration-300 lg:invisible lg:absolute lg:block lg:h-auto lg:w-[13.5rem] lg:opacity-0 lg:group-hover:visible lg:group-hover:opacity-100"
                >
                  {menu.children?.map((child) => (
                    <li
                      class={`nav-dropdown-item rounded-md hover:bg-primary/10`}
                    >
                      <a
                        href={child.url}
                        class={`nav-dropdown-link block px-[0.9rem] py-2 ${
                          (pathname === `${child.url}/` ||
                            pathname === child.url) &&
                          "active"
                        }`}
                      >
                        {child.name}
                      </a>
                    </li>
                  ))}
                </ul>
              </li>
            ) : (
              <li class="nav-item">
                <a
                  href={menu.url}
                  class={`nav-link block py-2 lg:px-[0.625rem] lg:py-[0.9rem] xl:px-[1.06rem] ${
                    (pathname === `${menu.url}/` || pathname === menu.url) &&
                    "active"
                  }`}
                >
                  {menu.name}
                </a>
              </li>
            )}
          </>
        ))
      }
      <li class="ml-autoflex order-1 text-center md:ml-0 lg:order-2 lg:hidden">
        <a class="btn btn-primary" href="/signup">Sign Up Now</a>
      </li>
    </ul>
    <div
      class="ml-autoflex order-1 hidden items-center md:ml-0 lg:order-2 lg:flex"
    >
      <a class="btn btn-primary" href="/signup">Sign Up Now</a>
    </div>
  </nav>
</header>

<script is:inline>
const button = document.getElementById("dropdown-button");
button.addEventListener("click", () => {
  const dropdown = document.getElementById("dropdown");
  dropdown.classList.toggle(dropdown.style === "hidden" ? "block" : "hidden");
});

var lastScroll = 0;
const changeNavbarBackground = () => {
  const header = document.getElementById("header");
  const headerHight = header.clientHeight + 200;
  const scrollY = window.scrollY;

  window.onscroll = () => {
    // header-sticky-top
    if (scrollY > 0) {
      header.classList.add("header-sticky-top");
    } else {
      header.classList.remove("header-sticky-top");
    }
    if (scrollY > headerHight) {
      if (lastScroll > scrollY) {
        header.classList.remove("-translate-y-full");
      } else {
        header.classList.add("-translate-y-full");
      }
      lastScroll = scrollY;
    }
  };
};
window.addEventListener("scroll", changeNavbarBackground);
</script>
