---
import { Image } from "@astrojs/image/components";
import Social from "@components/Social.astro";
import Blog from "./components/Blog.astro";

const { author, blogs } = Astro.props;
const { title, image, social } = author.data;
const { Content } = await author.render();
---

<section class="section">
  <div class="container">
    <div class="row">
      <div class="mb-12 lg:col-4 lg:mb-0">
        <div class="sticky top-[110px] pr-0 lg:pr-6">
          <figure class="mb-6 inline-block">
            <Image
              alt={title}
              width={94}
              height={94}
              src={image}
              class="h-auto max-w-full rounded-full border-2 border-primary"
            />
            <figcaption class="mt-6">
              <h2 class="text-h3">{title}</h2>
            </figcaption>
          </figure>
          <Content />

          <Social source={social} className="social-icons mt-8" />
        </div>
      </div>
      <div class="lg:col-8">
        <div class="col-12">
          <h2 class="mb-3 text-h3">
            Recent Post By <span class="text-primary">{title}</span>
          </h2>
        </div>
        <div class="row">
          {
            blogs.map((blog: any) => (
              <div class="col-12 mb-8  md:col-6">
                <Blog blog={blog} />
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
