---
import BreadcrumbJsonLd from "./BreadcrumbJsonLd.astro";
import End from "./End.astro";
import First from "./First.astro";
import Middle from "./Middle.astro";

interface BreadcrumbElement {
	title: string;
	link?: string; // optional: allow non-link crumbs
}

type Props = {
	elements: BreadcrumbElement[];
};

const { elements } = Astro.props;
---

<BreadcrumbJsonLd elements={elements} />
<nav class="flex py-3" aria-label="Breadcrumb">
	<ol
		class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse bg-gray-50 dark:bg-gray-800/50 px-4 py-2 rounded-full backdrop-blur-sm border border-gray-200 dark:border-gray-700"
	>
		{
			elements.map((element, index) => {
				if (index === 0) {
					return <First title={element.title} link={element.link ?? "/"} />;
				}

				if (index === elements.length - 1) {
					return <End title={element.title} />;
				}

				return <Middle title={element.title} link={element.link} />;
			})
		}
	</ol>
</nav>
