---
import { Image } from "@astrojs/image/components";
import { markdownify } from "@lib/utils/textConverter";
import Circle from "../Circle.astro";
const {
  data: { title, subtitle, image, description },
  order,
} = Astro.props;
---

<section class="section">
  <div class="container relative">
    <div class="row items-center justify-center">
      <div
        class={`col-12 md:col-6 lg:col-4 ${
          order === "right" ? "order-1" : "order-1 md:order-0"
        }`}
      >
        <div class="section-title text-left">
          <p
            set:html={markdownify(subtitle)}
            class="mb-4 text-[0.9rem] uppercase"
          />
          <h2 set:html={markdownify(title)} class="service-title" />
          <p
            set:html={markdownify(description)}
            class="text-[.9rem] text-text"
          />
        </div>
      </div>
      <div
        class={`col-12 md:col-6 lg:col-5 ${
          order === "right" ? "order-0" : "order-0 md:order-1"
        }`}
      >
        <div class="relative">
          <div class="relative z-10 p-14">
            <Image
              src={image}
              height={436}
              width={381}
              alt={title}
              class="w-full max-w-full rounded-2xl"
            />
            <div class="has-circle z-30 h-full w-full">
              <Circle classes={"bottom-[50%] left-[2.5rem] ratio-20 fill"} />
              <Circle
                classes={"bottom-[4.93rem] left-[1.5rem] ratio-47 bg-primary/5 "}
              />
            </div>
          </div>
          <div class="has-circle h-full w-full">
            <Circle classes={"top-[0.875rem] left-[0.75rem] ratio-85 fill"} />
            <Circle classes={"top-[5rem] right-[41px] ratio-37"} />
            <Circle classes={"bottom-[45%] right-[3.25rem] ratio-20 fill"} />
            <Circle classes={"bottom-[1.5rem] right-[1.5rem] ratio-85 fill"} />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
