---
import { markdownify } from "@lib/utils/textConverter";
import { Image } from "@astrojs/image/components";
const {
  country: { title, subtitle, description, countries },
} = Astro.props;
---

<section class="section mb-6">
  <div class="container">
    <div class="row justify-center">
      <div class="col-12 md:col-10 lg:col-8 xl:col-6">
        <div class="section-title">
          <p
            set:html={markdownify(subtitle)}
            class="mb-4 text-[0.9rem] uppercase"
          />
          <h2 set:html={markdownify(title)} class="title" />
          <p
            set:html={markdownify(description)}
            class="text-[.9rem] text-text"
          />
        </div>
      </div>
    </div>
    <div class="row justify-center">
      <div class="xl:col-10">
        <div class="row">
          {
            countries.map((item: any) => (
              <div class="sm:col-6 md:col-6 lg:col-3">
                <div class="mt-8 h-[calc(100%-1.875rem)] rounded-xl p-5 shadow-[0_0.25rem_1.5rem_rgb(0,0,0,0.05)]">
                  <Image
                    height={80}
                    width={80}
                    src={item.flag}
                    alt={item.name}
                  />
                  <h3 class="h5 mb-[0.625rem]">{markdownify(item.name)}</h3>
                  <p
                    set:html={markdownify(item.location)}
                    class="text-sm leading-6"
                  />
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
