---
import Circle from "@components/Circle.astro";
import { markdownify } from "@lib/utils/textConverter";
import { ChevronRight } from "react-feather";
const { careers, careers_index } = Astro.props;
const { career } = careers_index.data;
---

<div class="section career" id="open-position">
  <div class="container relative">
    <div class="row justify-center">
      <div class="col-12 lg:col-10">
        <div class="px-4 py-20">
          <div class="section-title">
            <p
              set:html={markdownify(career.subtitle)}
              class="mb-4 text-[0.9rem] uppercase"
            />
            <h2 set:html={markdownify(career.title)} class="title" />
          </div>
          <div class="row justify-center pt-6">
            {
              careers.map((item: any) => (
                <div class="relative md:col-5 " data-aos="fade-up">
                  <div class="mb-6 rounded-2xl bg-white px-4 py-8 text-center shadow-[0_10px_34px_rgb(0,0,0,0.05)]">
                    <h3 class="h5 mb-2 font-semibold">{item.data.title}</h3>
                    <h6 class="mb-4 text-sm text-black/80">
                      {item.data.job_nature}
                    </h6>
                    <a
                      href={`/careers/${item.slug}`}
                      class="stretched-link  flex items-center justify-center text-base font-semibold text-primary after:absolute after:inset-0"
                    >
                      View Listing
                      <span class="ml-1 text-sm">
                        {" "}
                        <ChevronRight />
                      </span>
                    </a>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
    <div class="has-circle has-bg-animate h-full" data-aos="fade-in">
      <Circle classes={"top-[50px] left-[11%] ratio-32"} />
      <Circle classes={"bottom-[13%] left-[3%] ratio-37"} />
      <Circle classes={"bottom-[30%] left-[20%] ratio-20"} />
      <Circle classes={"top-[6.25rem] right-[12%] ratio-47"} />
      <Circle classes={"bottom-[30%] right-[4%] ratio-37"} />
      <Circle classes={"bottom-[12%] right-[19%] ratio-20"} />
      <Circle classes={"top-[30%] right-[2%] ratio-20"} />
      <Circle classes={"top-[24%] left-[27%] ratio-37"} />
    </div>
  </div>
</div>
