---
import { IconType } from "react-icons";
import { TiTick } from "react-icons/ti/index.js";
import { BsFillRocketTakeoffFill } from "react-icons/bs/index.js";

interface Props {
  title: string;
  subtitle: string;
  features: Feature[];
}

interface Feature {
  icon: IconType;
  title: string;
  subtitle: string;
  activities: string[];
}

const { title, subtitle, features } = Astro.props;
---

<style>
  section {
    @apply py-8 px-4 mx-auto max-w-screen-xl text-center sm:py-16 lg:px-6;
  }

  subtitle {
    @apply mb-16 text-gray-500 sm:text-xl dark:text-gray-400;
  }

  .work-together {
    @apply bg-tertiary text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center;
  }

  .feature {
    @apply mt-8 lg:mt-12 space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0;
  }

  .feature-icon {
    @apply mx-auto mb-4 w-12 h-12 text-primary dark:text-secondary;
  }

  .activities {
    @apply flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg shadow-sm dark:border-gray-700 xl:p-8 dark:text-white dark:bg-gray-800;
  }

  .rocket {
    @apply mt-4 mb-4 w-5 h-5 text-tertiary;
  }
</style>

<section>
  <h1>{title}</h1>
  <p class="subtitle">
    {subtitle}
  </p>
  <div class="feature">
    {
      features.map((feature) => (
        <div class="shadow-2xl">
          <feature.icon className="feature-icon" />
          <h3>{feature.title}</h3>
          <p class="mb-4 h-16 text-gray-500 dark:text-gray-400">
            {feature.subtitle}
          </p>

          <div class="activities">
            <ul role="list" class="mb-8 space-y-4 text-left">
              {feature.activities.map((activity) => (
                <li class="flex items-center space-x-3">
                  <TiTick className="w-5 h-5 text-green-500" />
                  <span>{activity}</span>
                </li>
              ))}
              <li class="flex items-center space-x-3">
                <BsFillRocketTakeoffFill className="rocket" />
                <span>More!</span>
              </li>
            </ul>

            <a href="/work-together" class="work-together">
              Get in Touch
            </a>
          </div>
        </div>
      ))
    }
  </div>
</section>
