---
import { getCollection } from "astro:content";
import Layout from "@layouts/page.astro";
import Article from "@components/article.svelte";

const breadcrumbs = [
  {
    title: "HELLO",
    href: "/articles/hello",
  },
];

export async function getStaticPaths() {
  const blogEntries = await getCollection("articles");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout breadcrumbs={[]} title={entry.data.title}>
  <div class="my-8">
    <img
      class="rounded-md shadow-md w-full max-w-6xl mx-auto mb-12"
      src={entry.data.banner}
      alt="banner"
    />

    <div class="flex items-center gap-4 mx-auto w-fit">
      <img
        class="w-16 rounded-full"
        src={entry.data.profileImage}
        alt="author"
      />

      <div>
        <span class="text-lg font-bold">{entry.data.authors[0]}</span>
        <span class="text-lg opacity-50">({entry.data.role})</span>

        <span class="w-4 inline-block"></span>

        <span class="text-lg opacity-30">
          {entry.data.publishDate.toLocaleDateString()}
        </span>
      </div>
    </div>
  </div>

  <article>
    <Content />
  </article>
</Layout>
