---
import { Image } from "@astrojs/image/components";
import Base from "@layouts/Base.astro";
import { getSinglePage } from "@lib/contentParser.astro";

export async function getStaticPaths() {
  const caseStudies: any = await getSinglePage("case-studies");
  const paths = caseStudies.map((post: any) => ({
    params: {
      single: post.slug,
    },
    props: { post },
  }));
  return paths;
}

const { post } = Astro.props;
const { Content } = await post.render();
const { title, image, description, date, location, company_size } = post.data;
---

<Base title={title} description={description}>
  <section class="section">
    <div class="container">
      <div class="row justify-center">
        <div class="md:col-10 lg:col-8">
          <div class="block md:flex md:items-center md:justify-between">
            <div>
              <h1 class="font h2 font-semibold leading-[1.2]">
                Lets Meet <span class="block text-primary">{title}</span>
              </h1><div class="mt-6 block border-t pt-6 sm:flex">
                <div class="mr-12">
                  <p
                    class="mb-0 text-sm font-semibold uppercase text-theme-dark/60"
                  >
                    Year
                  </p><p class="font-medium text-primary">
                    {new Date(date).getFullYear()}
                  </p>
                </div><div class="mr-12">
                  <p
                    class="mb-0 text-sm font-semibold uppercase text-theme-dark/60"
                  >
                    Location
                  </p><p class="font-medium text-primary">{location}</p>
                </div><div>
                  <p
                    class="mb-0 text-sm font-semibold uppercase text-theme-dark/60"
                  >
                    Company Size
                  </p><p class="font-medium text-primary">{company_size}</p>
                </div>
              </div>
            </div>
            <div class="mt-6 md:mt-0" class="max-w-[200px]">
              <Image
                src={image}
                width={300}
                height={100}
                alt={title}
                fit="contain"
                background="rgba(0,0,0,0)"
              />
            </div>
          </div>
          <div class="content mt-6 border-t pt-12">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
