---
import { Image } from "@astrojs/image/components";
import PageHeader from "@components/PageHeader.astro";
import Base from "@layouts/Base.astro";
import { getSinglePage } from "@lib/contentParser.astro";
import { plainify } from "@lib/utils/textConverter";
import Cta from "@partials/Cta.astro";
import { getEntryBySlug } from "astro:content";

const caseStudies = await getSinglePage("case-studies");
const caseStudies_index = await getEntryBySlug("case-studies", "-index");
const { title } = caseStudies_index?.data;
---

<Base title={title}>
  <PageHeader title={title} />
  <section class="section">
    <div class="container">
      <!-- card -->
      <div class="row justify-center">
        <div class="md:col-10 lg:col-8">
          <div class="row justify-center">
            {
              caseStudies.map((item: any) => (
                <div class="relative md:col-6" data-aos="fade-in">
                  <div class="mt-8 h-[calc(100%-1.875rem)] rounded-2xl p-6 shadow-[0_10px_34px_rgb(0,0,0,0.05)]">
                    <h3 class="text-h3-sm font-semibold">{item.data.title}</h3>
                    <div class="flex items-center">
                      <div class="flex-auto" style="max-width:55%">
                        <div class="content">
                          <p set:text={plainify(item.body.slice(0, 30))} />
                        </div>
                        <a
                          href={`/case-studies/${item.slug}`}
                          class="stretched-link inline-block font-normal text-primary after:absolute after:inset-0"
                        >
                          Read More
                          <i class="las la-angle-right ms-1" />
                        </a>
                      </div>
                      <div class="pl-6">
                        <Image
                          src={item.data.image}
                          width={300}
                          height={80}
                          alt={item.data.title}
                          fit="contain"
                          background="rgba(0,0,0,0)"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </section>
  <Cta />
</Base>
