---
import type { GetStaticPaths, GetStaticPathsResult } from "astro";
import Page from "../../wrappers/page.astro";
import { supabase } from "../../lib/supabase";
import type { Database } from "../../database.types";
import Event from "../../components/events/event.vue";

type Event = Database["public"]["Tables"]["events"]["Row"];

type Props = {
  event: Event;
};

export const getStaticPaths: GetStaticPaths =
  async (): Promise<GetStaticPathsResult> => {
    const { data: events, error: eventsError } = await supabase
      .from("events")
      .select("*");

    if (eventsError) throw eventsError;

    return events.map((event) => {
      return {
        params: {
          event_id: event.event_id,
        },
        props: {
          event: event,
        },
      };
    });
  };

const { event } = Astro.props;

const { data: rsvps } = await supabase
  .from("rsvps")
  .select("*")
  .eq("event_id", event.event_id);

const { data: authIdAndAvatarUrls } = await supabase
  .from("people")
  .select("auth_id, avatar_url")
  .in("auth_id", rsvps?.map((rsvp) => rsvp.auth_id) ?? []);

const avatarImages = Object.fromEntries(
  authIdAndAvatarUrls?.map((item) => [
    item.auth_id || "",
    item.avatar_url || "",
  ]) ?? []
);

const user = await supabase.auth.getUser();
---

<Page title="Event">
  <nav class="flex" aria-label="Breadcrumb">
    <ol
      class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse"
    >
      <li class="inline-flex items-center">
        <a
          href="/events"
          class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white"
        >
          Events
        </a>
        <li>
          <div class="flex items-center">
            <svg
              class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 9 4-4-4-4"></path>
            </svg>
            <a
              href={`/events/${event.event_id}`}
              class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white"
              >{event.name}</a
            >
          </div>
        </li>
      </li>
    </ol>

    <Event
      client:only="vue"
      event={event}
      rsvps={rsvps || []}
      user={user.data.user}
      avatarImages={avatarImages}
    />
  </nav>
</Page>
