---
import type { QueryData } from "@supabase/supabase-js";
import { supabase } from "../../lib/supabase";
import Page from "../../wrappers/page.astro";

const videos = supabase
	.from("episodes")
	.select(
		"slug, title, thumbnail_url, people(github_handle), episode_channel(remote_id)",
	);

type EpisodeWithChannels = QueryData<typeof videos>;

const { data, error } = await videos;
if (error) throw error;


const episodeWithChannels: EpisodeWithChannels = data;

---

<Page title="Videos">
	<div
		aria-label="All Videos"
		class="bg-white dark:bg-gray-900 antialiased"
	>
		<div class="px-4 mx-auto">
			<h2 class="mb-8 text-2xl font-bold text-gray-900 dark:text-white">
				All Videos
			</h2>
			<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
				{
					episodeWithChannels.map((video) => (
						<article>
							<a href={`/videos/${video.slug}`}>
								<img
									src={video.thumbnail_url}
									class="mb-5 rounded-lg aspect-video"
									alt="Image 1"
								/>
							</a>
							<h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
								<a href={`/videos/${video.slug}`}>{video.title}</a>
							</h2>
							<a
								href={`/videos/${video.slug}`}
								class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline"
							>
								Read more
							</a>
						</article>
					))
				}
			</div>
		</div>
	</div>
</Page>
