---
import AppLayout from "../components/AppLayout.astro";
import InteractiveStoryMap from "../components/InteractiveStoryMap.tsx";
import { getCollection } from "astro:content";

const personas = await getCollection("personas");
const activities = await getCollection("activities");
const stories = await getCollection("stories");
const actions = await getCollection("actions");
const features = await getCollection("features");
---

<AppLayout title="Story Map - ForgePoint">
  <div style="height: calc(100vh - 48px); width: 100%; overflow: hidden;">
    <InteractiveStoryMap 
      personas={personas}
      activities={activities} 
      stories={stories}
      actions={actions}
      features={features}
      client:load
    />
  </div>
</AppLayout>